body, html {
  margin: 0 auto;
}

.header {
  background-color: rgb(79, 17, 7);
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  color: rgb(244,218,178);

  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {

  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
}

.menu li a {
  color: rgb(244,218,178);
  text-align: center;
  padding: 40px 16px;
  font-size: 30px;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.menu {
  padding-top: 10px;
}

.menu li a:hover{
  color: white;

}
